---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="img/img_000.jpg" />
    <meta
      name="description"
      property="og:description."
      content="The personal project that set the mark for the rest of my 3D printing and robotics-related projects."
    />
    <title>Iron Man Mark 3 Project | Banana Co. </title>
  </head>
  <body>
    <header class="landing-header">
      <Hero
        title="Mark 3 Iron Man Suit"
        text="One of the biggest projects I've made personally, taking 4 years and constant troubleshooting, this was the greatest learning experience to put towards the rest of my projects."
        imgSrc="img/img_000.jpg"
      />
    </header>
    <main>
      <Section
        title="Design/Testing"
        text="Starting from a DO3D file, I had to use Meshmixer to pre-slice every file to fit the specified dimensions of my printer. Each print is specified to be 60% grid infill to ensure a strong structure and filament conservation. I started by building the helmet so I could test the bonding agents and circuits. After the helmet was wired and motorized, I tested different filler agents to find the best for the PLA+ Filament. Lastly, sanding the helmet to ensure a smooth surface for painting."
        imagePosition="right"
        imgSrc="img/img_001.jpg"
        imgAlt="Img Alt"
      />

      <Section
        title="Printing/Assembly"
        text="After processing all files, I made over 200 separate prints to make up the shell for the suit. Using Epoxy to structure the pieces together, and Bondo to fill in any cracks or imperfections in the prints. Filler primer and sanding were the most tedious steps, but they led to a very professional and authentic-looking final product. I was also able to wire and test the main chest LEDs and reach wires to the gauntlets for LED integration."
        imagePosition="left"
        imgSrc="img/img_02.jpg"
        imgAlt="Img Alt"
      />

      <Section
        title="Power/Cosmetics"
        text="After all prints were finished, I jumped straight to wiring all the electronics in the helmet and body, allowing for the motorized mask and LED repulsors on the hands and chest to be powered efficiently and effectively through a 3D printed AA battery compartment. Once completed, I finished by painting the suit its iconic red and gold colors, then lastly sealing with clearcoat."
        imagePosition="right"
        imgSrc="img/img_03.jpg"
        imgAlt="Img Alt"
      />
    </main>
  </body>
  <Footer
    title="Iron Man Mark 3"
    address="Click here to access the drive of all photos related to this project :)"
    text="Iron Man Project, CODENAME: PRODIGALS SON"
  />
</html>
