---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content="img/img_00.jpg" />
    <meta
      name="description"
      property="og:description"
      content="The personal project that set the mark for the rest of my 3D printing and robotics related projects"
    />
    <title>Simple Astro Landing Page Theme | KuroShi Tec</title>
  </head>
  <body>
    <header class="landing-header">
      <Hero
        title="Mark 3 Iron Man Suit"
        text="One of the biggest projects I've made personally, taking 4 years and constant troubleshooting, this was the best learning experience for the rest of my projects"
        imgSrc="img/img_00.jpg"
      />
    </header>
    <main>
      <Section
        title="Design/Planning"
        text="Starting from a DO3D file, I had to use meshmixer to preslice every file in order to fit the specified dimensions of my printer. Each print specified to be 60% grid infill to ensure a strong structure and filament conservation. "
        imagePosition="right"
        imgSrc="/img/img_01.jpg"
        imgAlt="Img Alt"
      />

      <Section
        title="Printing"
        text="After proccessing my files, I made over 200 seperate prints to make up the shell for the suit. Using Epoxy to structure the peices together, and bondo to fill in any cracks or imperfections in the prints. Filler primer and sanding was the most tedious step, but led to a very professional and authentic looking final product. "
        imagePosition="left"
        imgSrc="img/img_02.jpg"
        imgAlt="Img Alt"
      />

      <Section
        title="Tech and Cosmetics"
        text="After all prints were finished, I jumped straight to wiring all the electronics in the helmet and body allowing for a motorized mask and LED repulsors on the hands and chest. Once completed, I finished by painting the suit its iconic red and gold colors, then lastly sealing with clearcoat."
        imagePosition="right"
        imgSrc="img/img_03.jpg"
        imgAlt="Img Alt"
      />
    </main>
  </body>
  <Footer
    title="Iron Man Mark 3"
    address="San Antonio, Tx, 78245"
    text="Iron Man Project, CODENAME : Prodigals Son"
  />
</html>
